<footer class="footer">
    <div class="columns">
        <div class="column is-one-half">
            <h1 class="title">{{ site.title }}</h1>
            <i class="fab fa-github"></i> <a href="https://github.com/{{ site.github_username }}">hchs-hdac</a><br>
            <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/hchs.hdac/">@hchs.hdac</a><br>
            <i class="far fa-envelope"></i> <a href="mailto:hchs.hdac@gmail.com">hchs.hdac@gmail.com</a>
        </div>
        <div class="column is-one-half">
            <h1 class="title">Resources</h1>
            <p>{{ site.description }}</p>
        </div>
    </div>
</footer>