<!DOCTYPE html>
<html>
    <head>
        <title>Hunter Data Analytics for Change</title>
        {% include head.html %}
    </head>
    <body>
        {% include nav.html %}

        <!-- Banner -->
        <section id="banner">
          <div class="container">
            <header>
              <h1 class="title">
                Welcome to Hunter Data Analytics for Change!
              </h1>
              <h2 class="subtitle">
                We're a club at Hunter College High School dedicated to teaching students data analytics techniques.
              </h2>

            </header>
            <span class="image"><img src="images/pic01.jpg" alt=""></span>
          </div>
        </section>

        <br>
        <div class="container">{{ content }}</div>
        <br>
        {% include footer.html %}
        {% include foot.html %}
    </body>
</html>